{% extends "./base.html" %}

{% block title %} Gestión de Solicitudes{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2>
                Edición de Solicitud
            </h2>
            <div class="card">
                <div class="card-body">
                    <form action="/editarSolicitud/" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <input type="text" id="txtCodigo" name="txtCodigo" value="{{solicitud.codigo}}" class="form-control" placeholder="Código" minlength="6" maxlength="6" readonly required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtCliente" name="txtCliente" value="{{solicitud.cliente}}" class="form-control" placeholder="Cliente" maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtSucursal" name="txtSucursal" value="{{solicitud.sucursal}}" class="form-control" placeholder="Sucursal" maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtDireccion" name="txtDireccion" value="{{solicitud.direccion}}" class="form-control" placeholder="Dirección" maxlength="150" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtSolicitante" name="txtSolicitante" value="{{solicitud.solicitante}}" class="form-control" placeholder="Solicitante" maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="number" id="numPrioridad" name="numPrioridad" value="{{solicitud.prioridad}}" class="form-control" min="1" max="5" value="1" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock%}